:root {
  --branco: #ffff;
  --gelo: #f0eded;
  --azul: #2e0abc;
  --preto: #2a2a2a;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  font-family: "Bebas Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  align-items: center;
}
.toolbar {
  height: 80px;
}

.tab-link {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.toolbar-inner {
  background-color: var(--branco);
  border-top: 1px var(--gelo);
}
.toolbar-inner .link {
  flex: 1;
  height: 80px;
  line-height: 25px;
  font-weight: bold;
  color: var(--azul);
}

.toolbar-inner .link:not(.active) {
  color: gray;
  font-weight: normal;
  color: var(--preto);
}

.toolbar-inner > .link i {
  font-size: 20px;
}
.top-nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-logo {
  font-weight: 600;
  margin-left: 5%;
}
.title-logo span {
  color: var(--azul);
}
.btn-cart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid var(--gelo);
  font-size: 20px;
  color: var(--preto);
  background: var(--branco);
}

.btn-cart::before {
  content: attr(data-count);
  background: var(--azul);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 0px;
  margin-right: 1%;
}

.btn-cart[data-count="0"]::before {
  display: none;
}

a {
  color: var(--azul);
  text-decoration: none;
  font-weight: 600;
}

form {
  padding-top: 10px;
  background: var(--branco);
  padding-bottom: 20px;
  position: relative;
  align-items: center;
}
#search {
  width: 90%;
  background: var(--gelo);
  height: 45px;
  border-radius: 10px;
  margin: auto;
  padding: 10px 20px;
  align-items: center;
}
::placeholder {
  color: #d7d3d3;
}
#icone-busca {
  position: absolute;
  top: 5px;
  right: 5%;
  font-size: 20px;
  padding: 10px;
}

.page-content {
  background: var(--branco);
}
#produtos {
  margin: auto;
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-fluid {
  max-width: 100%;
}

.block {
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
}
.filter-btn {
  width: 100%;
  height: 35px;
  background: none;
  border: 2px solid var(--preto);
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-btn.active {
  background: var(--azul);
  color: var(--branco);
  border: none;
}
.row {
  flex-wrap: wrap;
  flex-direction: row;
}
.item {
  color: var(--preto);
}
.item-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 240px;
  flex: 45%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background: var(--gelo);
}

.img-container img {
  max-width: 150px;
  object-fit: cover;
}
.nome-rating {
  display: flex;
  justify-content: space-between !important;
  padding-top: 15px;
  max-width: 90%;
  font-size: 10px;
}
.color-gray {
  color: rgb(79, 77, 77);
}
.ri-star-s-fill {
  color: orange;
  font-size: 5px;
}

.bold {
  font-weight: 800;
}
.price {
  font-size: 15px;
}
@media (min-width: 50px) {
  .item-card {
    flex: 45%;
  }
}
@media (min-width: 992px) {
  .item-card {
    flex: 30%;
  }
}
@media (min-width: 1200px) {
  .item-card {
    flex-basis: 20%;
  }
}
.gelo {
  background: var(--gelo) !important;
}
.nome-rating .color-gray {
  white-space: nowrap; /* Evita a quebra de linha */
  overflow: hidden; /* Oculta o texto que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." quando o texto é cortado */
  max-width: 100px; /* Define uma largura máxima para o nome do produto */
  display: inline-block; /* Garante que as propriedades funcionem corretamente */
}
