:root {
  --branco: #ffff;
  --gelo: #eae4e4;
  --azul: #2e0abc;
  --preto: #2a2a2a;
}

#formBusca {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

#Search {
  width: 80%;
  background: var(--gelo);
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  align-items: center;
  border: none;
}

::placeholder {
  color: #efe9e9;
}

#iconeBuscar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  color: var(--preto);
  border: none;
  margin-right: 40px;
  font-size: 24px;
}
.produto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  /* Remova o height: 100vh; */
  overflow-y: auto; /* Adicione isto para permitir rolagem vertical */
  padding: 10px; /* Para garantir que o conteúdo tenha espaço */
  max-height: calc(
    100vh - 60px
  ); /* Limite a altura para manter a rolagem ativa */
  margin-bottom: 200px;
}

.img-Caixa {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  min-height: 250px;

  justify-content: space-around;
  align-items: center;
  background-color: rgb(251, 251, 252);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.547);
}
.img-Caixa img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}
.item-Card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
body {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nome-rating .color-gray {
  white-space: nowrap; /* Evita a quebra de linha */
  overflow: hidden; /* Oculta o texto que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." quando o texto é cortado */
  max-width: 250px; /* Define uma largura máxima para o nome do produto */
  display: inline-block; /* Garante que as propriedades funcionem corretamente */
}
