:root {
  --branco: #ffff;
  --gelo: #f1f1f1;
  --azul: #2e0abc;
  --preto: #2a2a2a;
}

#lista-favorito {
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  padding-bottom: 280px;
}
.item-favorito {
  display: flex;
  align-items: center;
  width: 90%;
  height: 120px;
  margin: auto;
  border-bottom: 1px solid var(--gelo);
  padding: 10px 0px;
}
